<!doctype html>
<html>
<%= partials.head(data) %>
<body>
<div class="row column">
<h2>Langue de la page d'accueil</h2>
<p>Plusieurs cas sont possibles. On doit négocier (trouver l'intersection) entre
les langues disponibles sur le serveur <code><%- data.app.languages.join(', ') %></code>
et les choix de l'utilisateur.</p>
<div class="row">
<div class="medium-6 column">
<div class="callout<%- data.credentials && data.credentials.name && ' primary' || '' %>">
<h3>Utilisateur connecté</h3>
<ol>
<li>Langue configurée dans le profil</li>
<li>Langues du fureteur ordonnées par préférence: <code><%- data.userLanguages.join(', ') %></code></li>
<li><%- data.__(data.languageCode) %> (langue par défaut du site)</li>
</ol>
</div>
</div>
<div class="medium-6 column">
<div class="callout<%- (data.credentials && data.credentials.name) ? '' : ' primary' %>">
<h3>Utilisateur non connecté</h3>
<ol>
<li>Langue configurée dans un <i>cookie</i></li>
<li>Langues du fureteur ordonnées par préférence: <code><%- data.userLanguages.join(', ') %></code></li>
<li><%- data.__(data.languageCode) %> (langue par défaut du site)</li>
</ol>
</div>
</div>
</div>
<%= partials.languages(data) %>
<pre><%= JSON.stringify(data, null, '  ') %></pre>
</div>
<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/what-input.js"></script>
<script src="/js/vendor/foundation.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>
